<!DOCTYPE html>{% load static%}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>APRO IT Solutions - ESTIMATE#{{invoice_id}}</title>
    <link rel="stylesheet" href="{%static 'css/invoice-template-1.css' %}" media="all" />

  </head>

  <body>
    <header class="clearfix">
      <div id="logo">
        <img src="{% static 'img/apro-logo-for-web-new-dark-1.png'%}">
      </div>


      <div id="company">
        <h1 style="color: #103050;">{{company.name}}</h1>
        <div>{{company.address}}</div>
        <div>{{company.phone}}</div>
        <div><a href="mailto:{{company.email}}">{{company.email}}</a></div>
      </div>
      </div>
    </header>
    <main>

        <div id="details" class="clearfix">

            <p style="font-size: 16px; font-family: sans-serif; font-weight: bold; color: black;">Date: {{date}}</p><br />
                                                  <div id="client">
                                                      <!--          <div class="to">INVOICE TO:</div>-->
                                                      <p style="color: #000000;font-family:sans-serif;font-weight:bold;"><b>Client Name:</b> {{customer}}</p>
                                                      <p style="color: #000000;font-family:sans-serif;font-weight:bold;"><b>Service:</b> {{service_type}} - {{message}}</p>
                                                      <!--<h2 class="name"><b>Service:</b> {{service_type}} - {{message}}</h2>-->
                                                      <!--<div class="to"><b>Service Type:</b> APRO IT Solutions - {{message}}</div>-->
                                                      <!--  <div class="address">{{billing_address}}</div> -->
                                                      <!--          <div class="email"><a href="mailto:{{customer_email}}">{{bill_title}}</a></div>-->
                                                  </div><br />

            <div id="invoice">
                <!--          <h1>#{{invoice_id}}</h1>-->
                <!--<div class="date">Date: {{date}}</div>-->
                <!--         <div class="date">Due Date: {{due_date}}</div>-->
            </div>
        </div>
        <h1 style="text-align: left; color: black; font-size: 25px;">{{bill_title}}</h1>

        <table border="0" cellspacing="0" cellpadding="0">
            <thead>
                <tr>
                    <th><p style="color:white;">#</p></th>
                    <th><p style="color:white;">PRODUCT NAME & DESCRIPTION</p></th>
                    <!--<th class="desc">DESCRIPTION</th>-->
                    <th><p style="color:white;">QUANTITY</p></th>
                    <th><p style="color:white;">RATE</p></th>

                    <th><p style="color:white;">TOTAL</p></th>
                </tr>
            </thead>
            <tbody>
                {% for item in lineitem %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td style=" color: #103050;"><b>{{item.service}}</b> <br />{{item.description}}</td>
                    <!--<td class="desc">{{item.description}}</td>-->
                    <td><p style="text-align:center">{{item.quantity}}</p></td>
                    <td><p style="text-align:center">{{item.rate}}</p></td>

                    <td><p style="text-align:center">{{item.amount}}</p></td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3"></td>
                    <td colspan="1" style="color: #103050"><b>TOTAL WITHOUT GST</b></td>
                    <td style="color: #103050"><b>₹{{invoice_total}}</b></td>
                </tr>
                <tr>
                    <td colspan="3"></td>
                    <td colspan="1"  style="color: #103050"><b>TAX {{invoice_gst}}</b></td>
                    <td style="color: #103050"><b>₹{{invoice_total}}</b></td>
                </tr>
                <tr>
                    <td colspan="3"></td>
                    <td colspan="1" style="color: #103050"><b>GRAND TOTAL</b></td>
                    <td style="color: #103050"><b>₹{{invoice_total}}</b></td>
                </tr>
            </tfoot>
        </table>
        <p  style="font-family: sans-serif; font-size: 15px; ">{{fulldescription}}</p><br />
        <div style="font-family:sans-serif;font-size:22px;font-weight:bold;">Terms and Conditions:</div>
        <div id="notices">

            <p style="font-family:sans-serif;font-size:15px;">{{termsandconditions}}</p>
        </div>


    </main>
    <footer>
      Estimate was created on a computer and is valid without the signature and seal.
    </footer>
  </body>
</html>